RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]
   php_value short_open_tag 1
php_flag display_startup_errors off
php_flag display_errors off
php_flag html_errors off